<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xoá danh mục sản phẩm này?</p>
        <label >Tên danh mục: </label>
        <span>{{category.name}}</span>
      </div>
      <div class="modal-footer">
        <form [formGroup]="deleteForm" (ngSubmit)="delete()">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button type="submit" class="btn btn-primary">Xoá</button></form>
      </div>
    </div>
  </div>
</div>
