<br>
<div class="row text-center m-0"><h1>Danh Sách</h1></div>
<div class="row" style="margin: 0">
  <div class="col-lg-2"></div>
  <div class="col-lg-5">
    <button style="border-radius: 30px" data-bs-toggle="modal" data-bs-target="#create" class="btn btn-outline-success me-2">Thêm mới</button>
    <div class="justify-content-center d-flex mt-3">

      <input style="border-radius: 30px" class="form-control me-2" #ngay1 type="date"
             placeholder="Name"
             aria-label="Search">

      <input style="border-radius: 30px" class="form-control me-2" #ngay2 type="date"
             placeholder="Email"
             aria-label="Search">
      <input style="border-radius: 30px" class="form-control me-2" #tenSanPham type="search"
             placeholder="Email"
             aria-label="Search">
      
      <input style="border-radius: 30px" class="form-control me-2" #ngayHetHan type="date"
             placeholder="Email"
             aria-label="Search">

      <button style="border-radius: 30px" class="btn btn-outline-success me-2" (click)="search(ngay1.value,ngay2.value,tenSanPham.value,ngayHetHan.value)">Search</button>
    </div>

  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row m-0">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <table class="table table-hover table-striped text-center">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mã Lô Hàng</th>
        <th scope="col">Tên Sản Phẩm</th>
        <th scope="col">Giá Tiền</th>
        <th scope="col">Đơn Vị</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Ngày Nhập Hàng</th>
        <th scope="col">Ngày Sản Xuất</th>
        <th scope="col">Ngày Hết Hạn</th>
        <th scope="col">Chi tiết</th>
        <th scope="col">Sửa</th>
        <th scope="col">Xoá</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loHang of loHangs ;index as i">
<!--      <tr *ngFor="let loHang of loHangs | paginate: { itemsPerPage: 8, currentPage:p};index as i">-->
        <td>{{i +size *page + 1}} </td>
        <td>{{loHang.maLoHang}}</td>
        <td>{{loHang.tenSanPham}}</td>
        <td>{{loHang.giaTien}}</td>
        <td>{{loHang.donVi}}</td>
        <td>{{loHang.soLuong}}</td>
        <td>{{loHang.ngayNhap | date :'dd/MM/yyyy'}}</td>
        <td>{{loHang.ngaySanXuat | date :'dd/MM/yyyy'}}</td>
        <td>{{loHang.ngayHetHan | date :'dd/MM/yyyy'}}</td>
        <td>
          <button (click)="temp = loHang" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail"> Chi tiết</button>
        </td>
        <td>
          <button [routerLink]="['/edit',loHang.id]" class="btn btn-primary" > Sửa</button>
        </td>
        <td>
          <button (click)="temp = loHang" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"> Xoá</button>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <pagination-controls (pageChange)="p = $event" class="float-end"></pagination-controls>-->
  </div>
  <div class="col-lg-2"></div>
</div>

<!--Phân Trang-->
<div class="row" style="margin: 0; padding: 0">
  <div class="col-4"></div>
  <div class="col-1">
    <button type="button" class="btn btn-outline-success" (click)="previousPage()" *ngIf="page > 0">Trước</button>
  </div>
  <div class="col-2 text-center">
    <p class="text-success" style="margin-top: 5px">Trang {{page + 1}}/ {{totalPage}} trang</p>
  </div>
  <div class="col-1">
    <button type="button" class="btn btn-outline-success" (click)="nextPage()" *ngIf="page < totalPage - 1">Sau
    </button>
  </div>
  <div class="col-4"></div>
</div>

<app-component-delete [loHang]="temp" (eventDelete)="reload()"></app-component-delete>
<app-component-detail [loHang]="temp"></app-component-detail>
<app-component-create (eventCreate)="reload()"></app-component-create>
