<app-header></app-header>
<app-nav></app-nav>
<div class="vh-100">
  <div class="row" style="height: 75%">
      <div class="col-md-12 col-lg-2 border-end">
        <div class="container d-flex justify-content-center">
          <div class="sidenav m-3">
            <br>
            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
            <br>
            <br>

            <button type="button" class="btn btn-outline-success">About</button>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-10 ">
        <div class="row">
          <div class=" col-lg-2 ">
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">ROOM TYPE</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">ENTERTAIMENT</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">SPA</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">ENDOW</button>
            </div>
          </div>
          <div class=" col-lg-8">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <img src="https://pix8.agoda.net/hotelImages/186/186566/186566_16093015410047181139.jpg?ca=6&ce=1&s=1024x768"
                       class="d-block w-100" alt="...">

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://pix8.agoda.net/hotelImages/186/186566/186566_16093015480047181702.jpg?ca=6&ce=1&s=1024x768"
                       class="d-block w-100" alt="...">

                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://pix8.agoda.net/hotelImages/186/186566/186566_16093015300047180293.jpg?ca=6&ce=1&s=1024x768"
                       class="d-block w-100" alt="...">

                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="container mt-2">
              <h3 style="text-align: center"> KHU NGHỈ DƯỠNG FURAMA ĐÀ NẴNG </h3>
              <div class="content">
                <p>
                  Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3
                  di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng
                  hạng sang cùng với 70 căn biệt thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được
                  trang trí trang nhã, theo phong cách thiết kế truyền thống của Việt Nam và kiến trúc
                  thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh
                  dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama
                  Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn
                  (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn
                  phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền
                  thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng
                  danh giá nhất tại Việt Nam – vinh dự đượ
                  c đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các
                  nhà lãnh đạo kinh doanh quốc tế.

                </p>
              </div>
            </div>
          </div>
          <div class=" col-lg-2">
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">START DAY</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">END DAY</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">BOOKING</button>
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="button" class="btn btn-outline-success">SUPPORTS</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
