<h1>Tạo sản phẩm mới</h1>
<button class="btn btn-success" routerLink="/product/list">trở lại
</button>
<form [formGroup]="productForm" (ngSubmit)="create()">
  <div hidden class="form-control">
    <label for="id">Mã sản phẩm</label>
    <input type="text" id="id" formControlName="id">
  </div>
  <div class="form-control">
    <label for="name">Tên sản phẩm</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div class="form-control">
    <label for="price">Giá</label>
    <input type="text" id="price" formControlName="price">
  </div>
  <div class="form-control">
    <label for="description">Mã sản phẩm</label>
    <input type="text" id="description" formControlName="description">
  </div>
  <div class="form-control">
    <label for="category">DAnh mục</label>
    <select id="category" formControlName="category">
      <option disabled [ngValue]="null" >Danh mục</option>
      <option *ngFor="let c of categorys" [ngValue]="c">{{c.name}}</option>
    </select>
  </div>
  <button class="btn btn-outline-danger">tạo</button>
</form>
