<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book table</title>
</head>
<style>
    table th, td{
        border: solid black 1px;
        border-collapse: collapse;
    }
</style>
<body>
<span>
    <a href="/">Back</a>
</span>
<table>
    <tr>
        <th>No</th>
        <th>Code</th>
        <th>Status</th>
        <th>Detail</th>
    </tr>
    <tr th:each="borrowedBook, status : ${borrowedBookList}">
        <td th:text="${status.count}"></td>
        <td th:text="${borrowedBook.code}"></td>
        <td th:text="${borrowedBook.status}"></td>
        <td><a th:href="@{/borrow/detail/__${borrowedBook.id}__}">Detail</a></td>
    </tr>
</table>
</body>
</html>