<div class="row m-0 text-center"
     style="height: 75%">
  <div class="row ">
    <div class="col-lg-1">
      <button class="btn btn-outline-success mt-5" type="submit" routerLink='/'>Back
      </button>
    </div>
    <div class="col-lg-10">
      <div class="row m-5">
        <div class="container register-form">
          <div class="form">
            <div class="note align-items-center d-flex justify-content-center">
              <h2>SỬA THÔNG TIN</h2>
            </div>
            <form [formGroup]="editForm" (ngSubmit)="editLohang()">
              <div class="form-content">
                <div class="row">
                  <div class="col-md-6">
                    <div hidden class="form-group">
                      <label for="id" class="float-start">Id:</label>
                      <input style="border-radius:30px" class="form-control" id="id" name="id" formControlName="id"
                      />
                      <br>
                    </div>
                    <div class="form-group">
                      <label for="maLoHang" class="float-start">Mã Lo Hàng: </label>
                      <span
                        *ngIf="!editForm.controls.maLoHang?.valid && (editForm.controls.maLoHang?.valid || editForm.controls.maLoHang?.touched)">
                          <span [hidden]="!editForm.controls.maLoHang.errors?.required">
                          <span class="float-start" style="color: red">
                            Mã lô hàng không được để trống!
                          </span>
                          </span>
                          <span [hidden]="!editForm.controls.maLoHang.errors?.pattern">
                          <span class="float-start" style="color: red">
                            Mã lô hàng phải đúng định dàng (LH-XXXX) !!!
                          </span>
                          </span>
                        </span>
                      <input id="maLoHang" style="border-radius: 30px"
                             formControlName="maLoHang"
                             class="form-control" type="text"
                      />
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="sanPham" class="float-start">Sản Phẩm: </label>
                      <span
                        *ngIf="!editForm.controls.sanPham?.valid && (editForm.controls.sanPham?.valid || editForm.controls.sanPham?.touched)">
                          <span [hidden]="!editForm.controls.sanPham.errors?.required">
                          <span class="float-start" style="color: red">
                            Sản phẩm không được để trống !
                          </span>
                          </span>
                        </span>
                      <select class="form-select" id="sanPham" formControlName="sanPham" [compareWith]="compareWith"
                              style="border-radius: 30px">
                        <option value="" [selected]="true"> -- Chọn tên sản phẩm --</option>
                        <option *ngFor="let i of sanPhams" [ngValue]="i">{{i.tenSanPham}}</option>
                      </select>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="soLuong" class="float-start">Số Lương: </label>
                      <span
                        *ngIf="!editForm.controls.soLuong?.valid && (editForm.controls.soLuong?.valid || editForm.controls.soLuong?.touched)">
                          <span [hidden]="!editForm.controls.soLuong.errors?.required">
                          <span class="float-start" style="color: red">
                            Sô lượng không được để trống
                          </span>
                          </span>
                          <span [hidden]="!editForm.controls.soLuong.errors?.min">
                          <span class="float-start" style="color: red">
                            Số lượng phải lớn hơn 0 !!!
                          </span>
                          </span>
                        </span>
                      <input id="soLuong" style="border-radius: 30px"
                             class="form-control"
                             type="number" min="0" formControlName="soLuong"
                      />
                    </div>
                    <br>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="ngayNhap" class="float-start">Ngày Nhập: </label>
                      <span
                        *ngIf="!editForm.controls.ngayNhap?.valid && (editForm.controls.ngayNhap?.valid || editForm.controls.ngayNhap?.touched)">
                          <span [hidden]="!editForm.controls.ngayNhap.errors?.required">
                          <span class="float-start" style="color: red">
                            Ngày nhập không được để trống !
                          </span>
                          </span>
                        </span>
                      <input id="ngayNhap" style="border-radius: 30px"
                             class="form-control" type="date" formControlName="ngayNhap"
                      />
                    </div>
                    <br>
                    <div class="form-group">
                      <div class="form-group">
                        <label for="ngaySanXuat" class="float-start">Ngày Sản Xuất: </label>
                        <span
                          *ngIf="!editForm.controls.ngaySanXuat?.valid && (editForm.controls.ngaySanXuat?.valid || editForm.controls.ngaySanXuat?.touched)">
                          <span [hidden]="!editForm.controls.ngaySanXuat.errors?.required">
                          <span class="float-start" style="color: red">
                            Ngày sản xuất không được để trống !
                          </span>
                          </span>
                        </span>
                        <input id="ngaySanXuat" style="border-radius: 30px"
                               class="form-control" type="date" formControlName="ngaySanXuat"
                        />
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="ngayHetHan" class="float-start">Ngày Hết Hạn: </label>
                      <span
                        *ngIf="!editForm.controls.ngayHetHan?.valid && (editForm.controls.ngayHetHan?.valid || editForm.controls.ngayHetHan?.touched)">
                          <span [hidden]="!editForm.controls.ngayHetHan.errors?.required">
                          <span class="float-start" style="color: red">
                            Ngày hết hạn không được để trống !
                          </span>
                          </span>
                        </span>
                      <input id="ngayHetHan" style="border-radius: 30px"
                             class="form-control" type="date" formControlName="ngayHetHan"
                      />
                    </div>
                  </div>
                </div>
                <br>
                <button [disabled]="!editForm.valid" type="submit" class="btn btn-outline-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>



